Package: e2fsprogs
Version: 1.44.5-1
Architecture: amd64
Maintainer: Theodore Y. Ts'o <tytso@mit.edu>
Installed-Size: 2107
Pre-Depends: libblkid1 (>= 2.17.2), libc6 (>= 2.11), libcom-err2 (>= 1.44.5-1), libext2fs2 (= 1.44.5-1), libss2 (>= 1.44.5-1), libuuid1 (>= 2.16)
Recommends: e2fsprogs-l10n
Suggests: gpart, parted, fuse2fs, e2fsck-static
Section: admin
Priority: required
Multi-Arch: foreign
Homepage: http://e2fsprogs.sourceforge.net
Description: ext2/ext3/ext4 file system utilities
 The ext2, ext3 and ext4 file systems are successors of the original ext
 ("extended") file system. They are the main file system types used for
 hard disks on Debian and other Linux systems.
 .
 This package contains programs for creating, checking, and maintaining
 ext2/3/4-based file systems.  It also includes the "badblocks" program,
 which can be used to scan for bad blocks on a disk or other storage device.
Important: yes
