Package: e2fslibs-dev
Source: e2fsprogs
Version: 1.44.5-1
Architecture: all
Maintainer: Theodore Y. Ts'o <tytso@mit.edu>
Installed-Size: 73
Depends: libext2fs-dev
Section: oldlibs
Priority: optional
Homepage: http://e2fsprogs.sourceforge.net
Description: transitional package
 This is a transitional package. It can safely be removed.
