Package: ss-dev
Source: e2fsprogs (1.44.5-1)
Version: 2.0-1.44.5-1
Architecture: amd64
Maintainer: Theodore Y. Ts'o <tytso@mit.edu>
Installed-Size: 1400
Depends: libc6-dev | libc-dev, libss2 (= 1.44.5-1), comerr-dev
Section: libdevel
Priority: optional
Multi-Arch: same
Homepage: http://e2fsprogs.sourceforge.net
Description: command-line interface parsing library - headers and static libraries
 This package includes a tool that parses a command table to generate
 a simple command-line interface parser, the include files needed to
 compile and use it, and the static libs.
 .
 It was originally inspired by the Multics SubSystem library.
 .
 This package contains the development environment for the ss library.
