Package: e2fsprogs-l10n
Source: e2fsprogs
Version: 1.44.5-1
Architecture: all
Maintainer: Theodore Y. Ts'o <tytso@mit.edu>
Installed-Size: 2891
Depends: e2fsprogs (>= 1.44.5-1), e2fsprogs (<< 1.44.5-1+c~)
Replaces: e2fsprogs (<< 1.43.5-1)
Section: localization
Priority: optional
Multi-Arch: foreign
Homepage: http://e2fsprogs.sourceforge.net
Description: ext2/ext3/ext4 file system utilities - translations
 The ext2, ext3 and ext4 file systems are successors of the original ext
 ("extended") file system. They are the main file system types used for
 hard disks on Debian and other Linux systems.
 .
 This package provides translations for messages for programs found in
 the 'e2fsprogs' package.
