Package: fuse2fs
Source: e2fsprogs
Version: 1.44.5-1
Architecture: amd64
Maintainer: Theodore Y. Ts'o <tytso@mit.edu>
Installed-Size: 178
Depends: libblkid1 (>= 2.16), libc6 (>= 2.17), libcom-err2 (>= 1.44.5-1), libext2fs2 (= 1.44.5-1), libfuse2 (>= 2.8), libuuid1 (>= 2.16)
Section: admin
Priority: optional
Homepage: http://e2fsprogs.sourceforge.net
Description: ext2 / ext3 / ext4 file system driver for FUSE
 fuse2fs is a FUSE file system client that supports reading and
 writing from devices or image files containing ext2, ext3, and ext4
 file systems.
