Package: libcomerr2
Source: e2fsprogs
Version: 1.44.5-1
Architecture: amd64
Maintainer: Theodore Y. Ts'o <tytso@mit.edu>
Installed-Size: 70
Depends: libcom-err2
Section: oldlibs
Priority: optional
Multi-Arch: same
Homepage: http://e2fsprogs.sourceforge.net
Description: transitional package
 This is a transitional package. It can safely be removed.
