Package: libext2fs2
Source: e2fsprogs
Version: 1.44.5-1
Architecture: amd64
Maintainer: Theodore Y. Ts'o <tytso@mit.edu>
Installed-Size: 2002
Depends: libc6 (>= 2.28)
Breaks: e2fslibs (<< 1.43.9-1~)
Replaces: e2fslibs (<< 1.43.9-1~)
Provides: e2fslibs (= 1.44.5-1)
Section: libs
Priority: optional
Multi-Arch: same
Homepage: http://e2fsprogs.sourceforge.net
Description: ext2/ext3/ext4 file system libraries
 The ext2, ext3 and ext4 file systems are successors of the original ext
 ("extended") file system. They are the main file system types used for
 hard disks on Debian and other Linux systems.
 .
 This package provides the ext2fs and e2p libraries, for userspace software
 that directly accesses extended file systems. Programs that use libext2fs
 include e2fsck, mke2fs, and tune2fs. Programs that use libe2p include
 dumpe2fs, chattr, and lsattr.
